# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Evaluating Arithmetic expression in Python

##### Some of the popular languages that Data Scientists use are: #####
1. Python
2. Scala
3. Java

##### Some of the commonly used libraries used by Data Scientists include: #####
a. NumPy  
b. Matplotlib  
c. TensorFlow

| Data Science Tools |
| ------------------ |
| Rstudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [9]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Sheeja